.container{
    height: 6.5vh;
    
}

.wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.name{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.nameDown{
    display: flex;
}

