.container{
    background-color: #F4F5F7;
    height: 90vh;
    font-family: 'Segoe UI';
}

.wrapper{
    display: flex;
    justify-content: center;
}

.names{
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 100%;
    gap: 25px;
}

.namesTop{
    display: flex;
    justify-content: center;
}

.namesTopChildren{
  flex-direction: column;
  width: 95.5%;
  font-weight: 600;
  font-size: 30px;
}

.namesDown{
    background-color: #FFFFFF;
    display: flex;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
    max-width: 100%;
    justify-content: center;  
}

.namesDownChildren{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.namesSelectionChild hr{
    border: 0.1px solid #E8E8E8;
    width: 100%;
    align-self: center;
  }

  .namesList hr{
    border: 0.1px solid #E8E8E8;
    width: 106.5%;
    align-self: center;
  }

  .namesListHover{
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;

  }

  .namesListHover:hover{
    background-color: #E8E8E8;
  }

  .namesList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
  }

  .namesNav{
    display: flex;
    height: 57px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .namesNavChild{
    display: flex;
    width: 94%;
  }

  .namesSelection{
    display: flex;
    height: 57px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .namesSelectionChild{
    display: flex;
    width: 94%;
  }