.container{
    background-color: #F4F5F7;
    height: 90vh;
    font-family: 'Segoe UI';
}

.wrapper{
    display: flex;
    justify-content: center;
}

.name{
    display: flex;
    flex-direction: column;
    width: 680px;
    max-width: 100%;
    gap: 25px;
}

.nameTop{
    display: flex;
    justify-content: center;
}

.nameTopChild{
    display: flex;
  flex-direction: column;
  width: 95.5%;
  font-weight: 600;
  font-size: 30px;
}

.nameDown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameTabs{
    display: flex;
    justify-content: center;
    
}

.nameTabsChild{
    display: flex;
  width: 95.5%;
  font-weight: 600;
  font-size: 18px;
  gap: 20px;
  cursor: pointer;
  
  
}

.nameTab{
  
  color: #9B9BA6;
}

.nameTab:hover{
    color: #000;
}


.nameTabActive{
    color: #0023DD;
}

.nameTabOption{
    /*background-color: #FFFFFF;*/
    display: flex;
    /*border-radius: 20px;*/
    /*border: 1px solid #E8E8E8;*/
    max-width: 100%;
    /*justify-content: center;*/
}