.container {
    background-color: #F4F5F7;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
  
  .left {
    display: flex;
    align-items: center;
    
  }
  .right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo p {
    margin-left: 10px;
    font-weight: bold;
    font-size: xx-large;
    color: #0023DD;
  }
  
  
  
  .names {
    margin-right: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: large;
  }
  
  .connect {
    margin-right: 10px;
  }