.profileDownChild{
    display: flex;
    width: 640px;
    flex-direction: column;
    gap: 30px;

}

.profileDownPay{
    display: flex;
    justify-content: space-between;
}

.profileDownSubFee{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        font-weight: 600;
        font-size: 14px;
}

.profileDownSub{
    display: flex;
    width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px;
}
.profileDownSubChild{
    display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center; 
}
.profileDownSubChildTitle{
    display: flex;
    flex-direction: column;
}

.profileDownSubChildFee{
    display: flex;
    gap: 5px;
    align-self: center;
}

.profileDownSubChildOption{
    display: flex;
    color: #0023DD;
    align-items: center;
    gap: 3px;
    font-size: small;
    cursor: pointer;
}

.profileDownToggle{
    display: flex;
    background-color: #F5F5F5;
        border-radius: 10px;
        font-size: small;
        font-weight: 700;
        padding: 3px;
}
.profileDownToggleETH{
    padding: 7px 11px;
        color: #9B9BA6;
        cursor: pointer;
}
.profileDownToggleSelectUSD{
 
    padding: 7px 11px;
    color: #FFFFFF;
    background-color: #0023DD;
    border-radius: 5px;
    cursor: pointer;
}
.profileDownToggleSelectETH{
    background-color: #0023DD;
        padding: 7px 11px;
        border-radius: 5px;
        cursor: pointer;
        color: #FFFFFF;
    
}
.profileDownToggleUSD{
 
    padding: 7px 11px;
    color: #9B9BA6;
    cursor: pointer;
}
.profileDownFee{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #F5F5F5;
    align-items: center;
    color: #9B9BA6;
}

.profileDownFeeChild{
    display: flex;
        width: 95%;
        flex-direction: column;
        gap: 5px;
        padding: 5px 0px;

}

.profileDownFees{
    display: flex;
        justify-content: space-between;
}
.profileDownSubChildOptionDrop{
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profileDownSubChildOptionToggle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    color: black;
    cursor: pointer;
}
.dropOverlay{
    position: absolute;
    margin-top: 50px;

}

.profileDownPayLeft{
    display: flex;
    gap: 5px;
    align-items: center;
}

.profileDownPayLeft p{
    font-size: xx-large;
    font-weight: 700;
}

.profileDownPayLeftActive{
    font-size: 12px;
    font-weight: 700;
    padding: 3px 13px;
    background-color: #F0F6FF;
    border-radius: 10px;
    color: #008000;
}

.profileDownPayLeftInactive{
    font-size: 12px;
    font-weight: 700;
    padding: 3px 13px;
    background-color: #F0F6FF;
    border-radius: 10px;
    color: #C52F1B;
}

.profileDownPayRight{
 display: flex;
}



.profileDownSubChildFeeTitle{
    font-weight: 700;
    font-size: 21px;
}

.profileDownSubChildFeeIcon{
    display: flex;
    align-self: center;
    cursor: pointer;
}

.profileDownSubFee{
    display: flex;
    gap: 5px;
}