    .container {
        display: flex;
        font-family: 'Segoe UI';
        width: 578px;
        justify-content: center;
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .content{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .caption{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .captionTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        position: relative;
        
    }

    .captionTitleText{
        display: flex;
        position: fixed;
        flex-direction: column;
    }

    .captionTitleImgEther{
        position: relative;
        right: 15%;
    }
    .captionTitleImgERC20{
        position: relative;
        right: 10%;
    }
    .captionTitleImgEtherWL{
        position: relative;
        right: 28.5%;
    }
    .captionTitleImgERC20WL{
        position: relative;
        right: 23.5%;
    }


    .caption span{
        font-weight: 600;
        font-size: small;
        cursor: pointer;
    }

    .captionSub{
        display: flex;
        justify-content: center;
    }

    .captionCanSub{
        display: flex;
        padding: 3px 13px;
        background-color: #F0F6FF;
        border-radius: 10px;
        color: #008000;
    }

    .captionCanNotSub{
        display: flex;
        padding: 3px 13px;
        background-color: #fee8a550;
        border-radius: 10px;
        color: #EEC443;
    }
    .allowlist{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }

    .allowlisted{
        
        border: 1px solid #008000;
        padding: 5px 180px;
        border-radius: 20px;
        background-color: #00800030;
        color: #0A8A17;
        
    }

      .allowlistNot{
        border: 1px solid #BF5345;
        padding: 5px 180px;
        border-radius: 20px;
        background-color: #BF534530;
        color: #C52F1B;
        
      }
    
      .allowlistedInfoText{
        display: flex;
        
      }

    .yearButtons{
        display: flex;
        width: 100%;
        align-items: center;
        border: 1px solid #E8E8E8;
        border-radius: 30px;
        justify-content: center;
        padding: 10px 0px;
    }

    .yearButtonsInput{    
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .yearButtonsInput input{   
        text-align: center;
        border: none; 
        color: #0023DD;
        font-size: xx-large;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        
    }

    .feeNgasTopToggleParent{
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .yearButtonsInput input:hover {
        /* Hover state styles */
        border-radius: 30px;
        background-color: #F0F6FF; /* Example: Light gray background on hover */
      }
      
      .yearButtonsInput input:checked {
        /* Selected state styles */
        background-color: #0023DD; /* Example: Blue background on selection */
        color: #fff; /* Example: White text color on selection */
      }

    .countButtons{
        display: flex;
        align-self: center;
        align-items: center;
    }

    .feeNgas{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        color: #9B9BA6;
        font-weight: 600;
        font-size: 14px;
    }

    .feeNgasTop{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px;
    }

    .gas{
        display: flex;
        align-content: center;
        gap: 3px;
    }
    .feeNgasTopChild{
        
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;

    }

    .feeNgasTopToggle{
        display: flex;
        background-color: #F5F5F5;
        border-radius: 10px;
        font-size: small;
        font-weight: 700;
        padding: 3px;
    }

    .feeNgasTopToggleSelectETH{
        background-color: #0023DD;
        padding: 7px 11px;
        border-radius: 5px;
        cursor: pointer;
        color: #FFFFFF;
    }

    .feeNgasTopToggleUSD{

        padding: 7px 11px;
        color: #9B9BA6;
        cursor: pointer;
    }

    .feeNgasTopToggleETH{
        padding: 7px 11px;
        color: #9B9BA6;
        cursor: pointer;
    }

    .feeNgasTopToggleSelectUSD{

        padding: 7px 11px;
        color: #FFFFFF;
        background-color: #0023DD;
        border-radius: 5px;
        cursor: pointer;


    }

    .feeNgasDown{
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: #F5F5F5;
        align-items: center;
    }
    .feeNgasDownChild{
        
        display: flex;
        width: 95%;
        flex-direction: column;
        gap: 5px;
        padding: 5px 0px;

    }

    .feeNgasDownFees{
        display: flex;
        justify-content: space-between;
    }
    .feeNgasDownGas{
        display: flex;
        justify-content: space-between;
    }

    .feeNgasDownSum{
        color: black;
        display: flex;
        justify-content: space-between;
    }

    .actionButtons{
        display: flex;
        justify-content: center;
    }

    .actionButtons button{
        cursor: pointer;
        border-radius: 5px;
        background-color: #0023DD;
        color: white;
        width: 150px;
        height: 40px;
        font-weight: bold;
        font-family: 'Segoe UI';
        border: none;
    }

    .actionButtons button:disabled{
        color: #9B9BA6;
        background-color: #E8E8E8;
        cursor: not-allowed;
    }

    .contractDropOverlay{
        position: absolute;
        margin-top: 50px;   
    }