.container {
    display: flex;

  }
  
  .wrapper {
    background-color: #F4F5F7;
  
  }

  .search input {
    height: 80px;
    width: 460px;
    border-radius: 20px;

  }
  
  
  
  .searchResults {

  }
  
  .searchResultItem {

  }
  
  .searchResultItem h3 {

  }
  
  .searchResultItem p {

  }
  
  .errorMsg {
   
  }
  
  .button {
 
    cursor: pointer;
  }
  
  .button:hover {

  }
  
  .subDomainContainer {

  }
  
  .subDomainInput {
    
  }
  
  .subDomainResult {

  }
  
  .subDomainResult p {
    
  }
  
  .subDomainResult .registerButton {
    
  }