.container {
    font-family: 'Segoe UI';
  }
  
  .wrapper {
    border-radius: 8px;
    padding: 20px;
  }
  
  .searchResults {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*
  .searchResults:hover {
    background-color: #f2f2f2;
  }
  
  .searchResults p {
    font-size: 16px;
    margin: 0;
  }
  
  .searchResults span {
    font-size: 12px;
    color: #666666;
  }
  */