.container {
    font-family: 'Segoe UI';
  }
  
  .wrapper {
    border-radius: 8px;
    padding: 10px;
  }
  
  .searchResults {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .searchResultsText{
    font-size: 13px;
    font-weight: 600;
    max-width: 240px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;
  }
/*
  .searchResultsAvailable{
    font-size: 10px;
  }
  .searchResultsUnavailable{
    font-size: 10px;
  }
*/
/*
  .searchResults div {
    font-size: 12px;
    border-radius: 20px;
    background-color: red;
  }
*/
  .searchResults span {
    font-size: 12px;
  
  }


  .container:hover {
    background-color: #f2f2f2;
  }


  
  