.container {
    display: flex;

  }
  
  .wrapper {
    background-color: #f2f2f2;
  
  }
  
  
  .searchResults {

  }
  
  .searchResultItem {

  }
  
  .searchResultItem h3 {

  }
  
  .searchResultItem p {

  }
  
  .errorMsg {
   
  }
  
  .button {
 
    cursor: pointer;
  }
  
  .button:hover {

  }
  
  .subDomainContainer {

  }
  
  .subDomainInput {
    
  }
  
  .subDomainResult {

  }
  
  .subDomainResult p {
    
  }
  
  .subDomainResult .registerButton {
    
  }