.container {
    display: flex;

  }
  
  .wrapper {
    background-color: #F4F5F7;
  
  }

  .searchENS{
    display: flex;
    position: relative;
  }
  
  .search{
    display: flex;
    flex-direction: column;
  }

  .search input {
    
    height: 70px;
    width: 400px;
    border-radius: 20px;
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: x-large;
    padding: 0 35px;
    border: 1px solid #E8E8E8;
  }

  .clear{
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    cursor: pointer;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .searchSubdomain{
    margin-top: 20px;
  }
  
  
  
  .searchResults {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
  }

  .register {
    cursor: pointer;
    border-radius: 5px;
  }


  /*
  .searchResultItem {

  }
  
  .searchResultItem h3 {

  }
  
  .searchResultItem p {

  }
  
  .errorMsg {
   
  }
  
  
  
  .button:hover {

  }
  
  .subDomainContainer {

  }
  
  .subDomainInput {
    
  }
  
  .subDomainResult {

  }
  
  .subDomainResult p {
    
  }
  
  .subDomainResult .registerButton {
    
  }
  */