.container{
    height: 57px;
    font-weight: 600;
    font-size: 14px;
    
}

.wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.name{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.nameLeft{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nameLeftImg{
    display: flex;
    align-items: center;
}